@page "/climate"
@using Irongate.Service.Models
@attribute [Authorize(Roles = "IronGate-User")]
@inject IClimateService ClimateService

<h1 class="text-center">Climate</h1>
<RadzenDatePicker ShowTime="false" HourFormat="24" DateFormat="MM/dd/yyyy h:mm tt" Change="@(async () => await UpdateCharts())" @bind-Value="@Date"/>
<div class="container">
    <div class="row">
        <div class="col-sm-12 my-5">
            <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem">
                <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
                <RadzenLabel Text="Smooth" For="smooth" Style="margin-right: 1rem;"/>
                <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                <RadzenLabel Text="Show Data Labels" For="dataLabels"/>
            </RadzenCard>
            <h2>First Floor</h2>
            <RadzenChart class="m-3">
                <RadzenLineSeries Smooth="@smooth" Data="@FirstFloorTemp" CategoryProperty="timeStamp" Title="Temp" LineType="LineType.Dashed" ValueProperty="value">
                    <RadzenMarkers MarkerType="MarkerType.Square"/>
                    <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                </RadzenLineSeries>
                <RadzenLineSeries Smooth="@smooth" Data="@FirstFloorHumid" CategoryProperty="timeStamp" Title="Humid" ValueProperty="value">
                    <RadzenMarkers MarkerType="MarkerType.Circle"/>
                    <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" Formatter="@FormatAsFullDate"/>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true"/>
                    <RadzenAxisTitle Text="Temp and Humid"/>
                </RadzenValueAxis>
            </RadzenChart>
            <h2>Ground Floor</h2>
            <RadzenChart class="m-3">
                <RadzenLineSeries Smooth="@smooth" Data="@GroundFloorTemp" CategoryProperty="timeStamp" Title="Temp" LineType="LineType.Dashed" ValueProperty="value">
                    <RadzenMarkers MarkerType="MarkerType.Square"/>
                    <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                </RadzenLineSeries>
                <RadzenLineSeries Smooth="@smooth" Data="@GroundFloorHumid" CategoryProperty="timeStamp" Title="Humid" ValueProperty="value">
                    <RadzenMarkers MarkerType="MarkerType.Circle"/>
                    <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" Formatter="@FormatAsFullDate"/>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true"/>
                    <RadzenAxisTitle Text="Temp and Humid"/>
                </RadzenValueAxis>
            </RadzenChart>
            <h2>Basement</h2>
            <RadzenChart class="m-3">
                <RadzenLineSeries Smooth="@smooth" Data="@BasementTemp" CategoryProperty="timeStamp" Title="Temp" LineType="LineType.Dashed" ValueProperty="value">
                    <RadzenMarkers MarkerType="MarkerType.Square"/>
                    <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                </RadzenLineSeries>
                <RadzenLineSeries Smooth="@smooth" Data="@BasementHumid" CategoryProperty="timeStamp" Title="Humid" ValueProperty="value">
                    <RadzenMarkers MarkerType="MarkerType.Circle"/>
                    <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" Formatter="@FormatAsFullDate"/>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true"/>
                    <RadzenAxisTitle Text="Temp and Humid"/>
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
</div>

@code {


    public List<Temperature> FirstFloorTemp { get; set; }
    public List<Temperature> GroundFloorTemp { get; set; }
    public List<Temperature> BasementTemp { get; set; }
    public List<Humidity> FirstFloorHumid { get; set; }
    public List<Humidity> GroundFloorHumid { get; set; }
    public List<Humidity> BasementHumid { get; set; }
    
    public DateTime? Date { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateCharts();
    }

    async Task UpdateCharts()
    {
        if (Date.HasValue)
        {
            FirstFloorTemp = await ClimateService.GetTemperaturesFromDateAndFloor(Date.Value, 2);
            FirstFloorHumid = await ClimateService.GetHumidityFromDateAndFloor(Date.Value, 2);
            GroundFloorTemp = await ClimateService.GetTemperaturesFromDateAndFloor(Date.Value, 1);
            GroundFloorHumid = await ClimateService.GetHumidityFromDateAndFloor(Date.Value, 1);
            BasementTemp = await ClimateService.GetTemperaturesFromDateAndFloor(Date.Value, 0);
            BasementHumid = await ClimateService.GetHumidityFromDateAndFloor(Date.Value, 0);
        }
    }

    bool smooth = false;
    bool showDataLabels = false;


    string FormatAsFullDate(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("yy-MM-dd");
        }

        return string.Empty;
    }

}